# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see https://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.metadata/
bin/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project
.buildpath

# NetBeans
nbproject/private/
build/
dist/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*.pid
*.seed
*.pid.lock

# IDEs and Editors
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?